body {
    background-image: url("https://images8.alphacoders.com/403/403441.gif");
}

#jumbo {
	margin: 20px;
	background-color: #2da7b5;
    font-family: 'Libre Barcode 39 Text', cursive;
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Cinzel', serif;
    border-radius: 10px 10%;
    border-style: solid;
    border-color: silver;
    border-width: thick;
}
/*radio {
    color: black;
    color: white;
}
.series {
    color: white;
}*/
/*#clock {
    background-color: black;
    color: white;
}
#timer {
    color: white;
    background-color: black;
}*/
.btn {
	border-style: solid;
	border-color: black;
}
#clock {
	color: white;
	font-size: 50px;
}

#container {
    width: 200px;
}

.maincontent {
    display: inline;
}

h1 {
    color: white;
    font-family: "Libre Barcode 39 Text";
}

h2 {
	/*font-family: 'Julius Sans One', sans-serif;*/
    /*font-family: 'Orbitron', sans-serif;*/
    /*font-family: 'Cinzel', serif;*/
    color: white;
    text-align: center;
}

.row {
    align-content: center;
}

.col-md-6 {
    text-align: center;
}
#spacer {
	text-align: center;
	width: 100%;
	background-color: #2da7b5;
	border-radius: 10px;
	border-style: solid;
	border-color: black;
	font-family: "Orbitron",sans-serif;
	margin-top: 30px;
	float: right;
}